body {
  font-family: 'Times New Roman', Times, serif;
  margin: 2px;
  padding: 2px;
}

.mobile-nav {
  display: none;
}

div {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50pt;
  /* color: black;
  border-width: 5px;
  border-style: dashed;
  border-color: #85CDFD; */
}

header {
  font-family: "Bodoni";
  font-weight: bold;
  font-size: 30px;
}

.skip {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2em;
  color: #85CDFD;
  z-index: 10
}

.skip a {
  color: #85CDFD;
  text-decoration: none;
  font-family: cursive;
  font-size: 0.7em;
}

#skipTop {
  transform: scaleX(-1);
}


.main-title {
  margin: 65px 5px 30px 5px;
}

.main-title h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 5px;
  font-weight: 400;
}

.main-title h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.main-title h1 span:after,
.main-title h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}

.slogan h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
  text-align: left;
  margin-left: 5px;
  padding-bottom: 13px;
}

.slogan h2:before {
  background-color: #c50000;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

p {
  margin: 10px;
  line-height: 2;
  font-size: 25pt;
}

#active {
  font-style: italic;
}


.title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40pt;
  color: black;
  border-width: 5px;
  border-style: dashed;
  border-color: #85CDFD;
}

dt {
  font-size: 40px;
  margin: 5px;
}

dd {
  font-size: 20px;
  margin: 2px;
}

dd p {
  border-bottom: #85CDFD dashed 2px;
}

.screen-nav ul {
  margin: 0;
  display: grid;
  height: 10vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.background-one {
  background-color: #151515;
}

.background-two {
  background-color: #151515;
}

.background-three {
  background-color: #151515;
}

.link-one {
  color: #53d9d1;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-one:hover {
  color: #111;
  transition: color 1s cubic-bezier(0.33, 0.1, 0.68, 0.1);
}

.link-one::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #53d9d1;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-one::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;

  clip-path: polygon(40% 0%,
      60% 0%,
      60% 0%,
      40% 0%,
      40% 100%,
      60% 100%,
      60% 100%,
      40% 100%);
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::after {
  clip-path: polygon(40% 10%,
      60% 10%,
      60% 35%,
      40% 35%,
      40% 90%,
      60% 90%,
      60% 65%,
      40% 65%);
}



.link-two {
  color: #f27b9b;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

.link-two:hover {
  color: #111;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-two::before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  clip-path: polygon(0% -20%,
      100% -30%,
      100% -10%,
      0% 0%,
      0% 130%,
      100% 120%,
      100% 100%,
      0% 110%);
  background-color: #f27b9b;

  transition: clip-path 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.link-two:hover::before {
  clip-path: polygon(0% 10%,
      100% 0%,
      100% 20%,
      0% 30%,
      0% 100%,
      100% 90%,
      100% 70%,
      0% 80%);
}

.link-two::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 5ch;
  height: 5ch;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg) scale(0);
  transition: transform 1s ease;

  background-color: #f27b9b;
}

.link-two:hover::after {
  transform: translate(50%, -50%) rotate(135deg) scale(1.5);
}

.link-three {
  color: #47a0e2;
}

.link-three::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 100%;
  top: 0%;
  left: 0%;
  transform: translate(0, -50%) scaleY(0);
  transition: transform 1s ease;
  mix-blend-mode: difference;

  clip-path: polygon(20% 60%,
      100% 60%,
      100% 40%,
      20% 40%,
      20% 0%,
      60% 0%,
      60% 20%,
      20% 20%);

  background-color: #47a0e2;
}

.link-three:hover::after {
  transform: translate(0, 0%) scaleY(1);
}

.link-three::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 100%;
  bottom: 0%;
  right: 0%;
  transform: translate(0, 50%) scaleY(0);
  transition: transform 1s ease;
  mix-blend-mode: difference;

  clip-path: polygon(80% 40%,
      0% 40%,
      0% 60%,
      80% 60%,
      80% 100%,
      40% 100%,
      40% 80%,
      80% 80%);

  background-color: #47a0e2;
}

.link-three:hover::before {
  transform: translate(0%, 0%) scaleY(1);
}

ul li {
  font-family: "Bungee";
  font-size: 0.45em;
  font-weight: bold;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-image {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

img {
  display: flex;
  margin: 20px;
  min-width: 400px;
  min-height: 125px;
  padding: 10px;
  border-radius: 5px;
  border: 5px dashed #85CDFD;
  justify-content: center;
  align-self: center;
  align-items: center;
}

img:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-color: #128ded;
}

/* .container-p{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-bg{
  background-image: url('../images/contentbg.jpg');
  background-size: cover;
  color: white;
}
.content-p {
  color: white;
  background-color: black;
} */


footer {
  background-image: url('../images/Frame1.png');
  background-size: cover;
  color: white;
  text-align: center;
}

footer a {
  color: #9DF1DF;
}

@media screen and (max-width: 480px) {
  .screen-nav {
    display: none;
  }

  .icon {
    display: flex;
    align-items: center;
  }

  i {
    margin-right: 10px;
    font-size: 0.4em;
  }

  #active-m {
    color: #47a0e2;
  }

  .mobile-nav {
    display: flex;
    background-color: #1E1E23;
    height: 65px;
  }

  #menu a {
    text-decoration: none;
    color: #1E1E23;
    opacity: 1;
    font-family: 'work sans', sans serif;
    font-size: 1em;
    font-weight: 400;
    transition: 200ms;
  }

  #menu a:hover {
    opacity: 0.5;
  }

  #menu ul {
    padding: 0;
    list-style-type: none;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    justify-content: space-between;
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle input:checked~ul {
    transform: none;
  }

  footer {
    background-image: url('../images/contentbg.jpg');
    background-size: cover;
    color: white;
    text-align: center;
  }

  footer a {
    color: #9DF1DF;
  }

}

@media screen and (min-width: 481px) and (max-width: 1000px) {
  .category {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 8vh;
    
  }

  .category-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: auto;

    width: 68vh;
    height: 35vh;

    background: hsl(0, 0%, 95%);
    box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, .3);
  }

  .left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1vh;
  }

  .left .title {
    width: max-content;
    font-size: 2.875rem;
    white-space: nowrap;
    font-family: 'Staatliches', cursive;
    border: none;
    margin: 1vh;
  }

  .left .title a {
    color: black;
  }


  .category-ex p {
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
  }

  .ca-image1 {
    height: 100%;
    background-image: url(../images/ca-image1.jpg);
    clip-path: polygon(35% 0%, 100% 0, 100% 100%, 8% 100%);

    background-repeat: no-repeat;
    background-size: cover;
  }

  .ca-image2 {
    height: 100%;
    background-image: url(../images/ca-image2.jpeg);
    clip-path: polygon(35% 0%, 100% 0, 100% 100%, 8% 100%);


    background-repeat: no-repeat;
    background-size: cover;
  }

  .ca-image3 {
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2017/09/21/13/32/girl-2771936_960_720.jpg);
    clip-path: polygon(35% 0%, 100% 0, 100% 100%, 8% 100%);

    background-repeat: no-repeat;
    background-size: cover;
  }



}

@media (prefers-reduced-motion: reduce) {
  .screen-nav {
    animation: none;
  }

  .mobile-nav {
    animation: none;
  }
}